
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 0;
    overflow-x: hidden;
}
main{
  margin-bottom: 10px;
}

.titulo{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 20px;
}

h1{
    padding-top: 20px;
    padding-left: 10px;
    color: rgb(43, 52, 130);
}

h2{
    font-size: 25px;
    color: rgb(43, 52, 130);
    margin-left: 95px;
}

nav{
    padding: 10px;
    margin-top: 5px;
    display: flex;
    width: 100%;
    background-color: rgb(43, 52, 130);
    font-size: 18px;
    justify-content: center;
}

a{
    
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

.grilla {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.big{
    width: 100%;
    height: 300px;
}

h3{
    color: rgb(43, 52, 130);
    margin: 20px;
    font-size: 20px;
}
h4{
    color: rgb(43, 52, 130);
    margin: 20px;
    font-size: 20px;
}

.servicio{
    align-self: flex-end;
    position: relative;
    background-color: rgb(43, 52, 130);
    width: 130px;
    color:rgb(231, 73, 73) ;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 22px;
    border: solid rgb(43, 52, 130);
    margin-right: 20px; /* igual o mayor que el ancho de la imagen */
}

.servicio img{
    position: absolute;
    right: -30px; /* valor negativo */
    top: -10px; /* valor positivo */
    width: 50px;
    height: 70px;
}

.foot{
    width: 100%;
    height: 100%;
    background-color: rgb(43, 52, 130);
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
p{
    color: white;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top:5px;
    font-size: 20px;
}
.icons{
    padding: 20px;
}
/*Catalogo de servicios*/
.catalogo{
    padding: 5px;
    background-color: rgb(43, 52, 130);
    border: solid rgb(43, 52, 130);
    margin-top: 20px;
    position:relative ;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left:50px ;
    color:rgb(231, 73, 73) ;
    font-size: 20px;
}
.catalogo img{
    position: absolute;
    left: 0px;
    top: -10px;
    width: 50px;
    height: 50px;
}
#container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
  
    
}

.card {
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 200px;
    background-color: rgb(43, 52, 130);
  }
  
  .card img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
  
  .card h2 {
    position: absolute;
    top: 63%;
    left: -20px;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    font-size: 22px;
    color: black;
  }
.blanco{
    background-color: white;
    width: 130px;
    height: 140px;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
}  
.contratar{
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
 
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

  }
  
  .popup-content {
    
    max-width: 95%;
    height: 550px;
    background-color: rgb(43, 52, 130);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    color: white;
    font-size: 13px;
    top: 90px;
  }
  .containerImage{
    justify-content: right;
    display: flex;
    padding: 0px;
  }
  .indication{
    font-size: 14px;
    padding: 0px;
    padding-top: 10px;
    
  }
  .descripcionConteiner{
    display: flex;
    flex-direction: column;
  }
  .descripcion{
    border-bottom: solid white;
    
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0px;
    padding-bottom: 10px;

  }
  .popup-image{
    margin: 10px;
    top: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    
  }
  .popup-name{
    color: white;
    font-size: 20px;
    text-align: left;
    position: relative;
    padding: 0;
    border-bottom: solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    

  }
  .popup-close {
    position: absolute;
    top: 220px;
    right: x;
    border: solid white;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(231, 73, 73);
  }
  .popup-form{
    font-size: 15px;
    
  }
  .contratar-final{
    color: rgb(231, 73, 73);
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px;
    border-color: solid white;
    display: flex;
    margin-top: 30px;
    
    
  }
  .input-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 10px;
    
  }
  .input-container label {
    width: 100%;
    text-align: left;
    margin-right: 10px;
    
  } 
  .input-container input {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  .input-container textarea {
    width: 100%;
    
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  @media(min-width:500px){
    .titulo{
      font-size: 30px;
    }
    h2{
      font-size: 35px;
    }
    nav{
      font-size: 25px;
    }
    .catalogo{
      padding: 5px;
      padding-left: 55px;
      font-size: 30px;
    }
    .catalogo img{
      width: 60px;
      height: 60px;
    }
  }
  @media(min-width:650px){
    .titulo{
      font-size: 40px;
    }
    h2{
      font-size: 40px;
    }
    nav{
      font-size: 35px;
    }
    h3{
      font-size: 30px;
    }
    .big{
      height: 100%;
    }
    .servicio{
      width: 220px;
      font-size: 35px;
    }
    .servicio img{
      width: 70px;
      height: 90px;
    }
    h4{
      font-size: 30px;
    }
    .card{
      width: 250px;
      height: 300px;
    }
    .blanco{
      width: 160px;
      height: 170px;
    
    }
    .card h2 {
      top: 55%;
      left: 30px;
      font-size: 27px;
    }
    .contratar{
      font-size: 30px;
    }
    .popup-close{
      font-size: 40px;
      top: 150px;
    }
    .popup-content{
      height: 750px;
    }
    .indication{
      font-size: 25px;
    }
    .popup-image{
      width: 160px;
      height: 170px;
    }
    .popup-name{
      font-size: 35px;
    }
    .descripcion{
      font-size: 25px;
    }
    .popup-form{
      font-size: 25px;
    }
    .contratar-final{
      font-size: 50px;
    }
  }
  @media(min-width:900px){
    .grilla{
      
      width: 100%;
    }
   
    .big{
      width: 60%;
      height: 100%;
    }
    h3{
      width: 30%;
    }
    .titulo{
      font-size: 50px;
    }
    h2{
      font-size: 45px;
    }
    nav{
      font-size: 40px;
    }
    .catalogo{
      padding: 5px;
      padding-left: 85px;
      font-size: 50px;
    }
    .catalogo img{
      width: 90px;
      height: 90px;
    }
    p{
      font-size: 30px;

    }
    .indication{
      font-size: 30px;
    }
    


  }
  @media(min-width:1200px){
    .indication{
      font-size: 40px;
    }
    .popup-content{
      max-width: 75%;
    }
    .popup-image{
      width: 200px;
      height: 190px;
    }
    .popup-name{
      font-size: 45px;
    }
    .descripcion{
      font-size: 30px;
    }
    .popup-form{
      font-size: 35px;
    }
    .card{
      width: 350px;
      height: 400px;
    }
    .blanco{
      width: 250px;
      height: 260px;
    
    }
    .card h2 {
      top: 63%;
      left: 75px;
      font-size: 37px;
    }
    .contratar{
      font-size: 40px;
    }
    .popup-close{
      font-size: 40px;
      top: 150px;
    }


  }